<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true">
  
  <test name = "createListWithUsedName">
  	<classes>
  		<class name="com.pardot.ListsTestCases">
      		<methods>
      		<include name= "createListSuccessfully" />
      		<include name= "duplicateListNameWarning" />
      		<include name= "editTheListName" />
      		<include name= "createTheListWithTheUsedName" />   
      		<exclude name= "findAddedList" /> 	
      		</methods>
      	</class>
     </classes>
   </test> 
    
    <test name = "verifyListContainsAddedProspect">
  	<classes>
  		<class name="com.pardot.ListsTestCases">
      		<methods>
      		<exclude name= "createListSuccessfully" />
      		<exclude name= "duplicateListNameWarning" />
      		<exclude name= "editTheListName" />
      		<exclude name= "createTheListWithTheUsedName" />   
      		<exclude name= "findAddedList" /> 	
      		</methods>
      	</class>
      	<class name="com.pardot.ProspectsTestCases" />
     </classes> 	
  </test>
  
  <test name = "test3">
  	<classes>
  		<class name="com.pardot.ListsTestCases">
      		<methods>
      		<exclude name= "createListSuccessfully" />
      		<exclude name= "duplicateListNameWarning" />
      		<exclude name= "editTheListName" />
      		<exclude name= "createTheListWithTheUsedName" /> 
      		<include name = "findAddedList" />   	
      		</methods>
      	</class>
    	</classes>
    </test>
    <test name = "sending Email">
    	<classes>
    	    <class name = "com.pardot.EmailsTestCases" />
    	</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
